*{
    /* background-color:rosybrown; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

img{
    max-width: 100%;
}
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: aqua;
}
.title{
    color: red;
    font-family:'Fredoka One';
    font-size: 50px;
}

.abstract{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 45px;
}

.title, .abstract{
    text-align: center;
    padding-top: 45px;
}

.team1, .team2, .team3, .team4, .team5, .team6{
    width: 30%;
    /* height: 150px; */
    background-color:black;
    float: left;
    margin-right: 5%;
    color: white;
}
.team3, .team6{
    margin-right: 0;
}
.riga2{
    margin-top: 30px;
}